#title {
    color: #dbe4ed;
}

.navbar {
    width: 100%;
    background-color: #112236;
}

.nav li {
    display: table-cell;
    color: #777777;
    width: 70px;
    height: 50px;
    vertical-align: middle;
}

.nav li a {
    text-align: center;
    font-weight: bold;
    color: #a3bad2;
}

.nav li a:hover {
    color: #436280;
    background-color: #dbe4ed;
    border-radius: 5px;
    transition: 0.5s;
}

.form-control:focus {
    border-color: #dbe4ed;
    box-shadow: inset 0 1px 1px #dbe4ed,0 0 8px #dbe4ed;
}

.btn-primary {
    background-color: #436280;
    border-color: #112236;
}
.btn-primary:hover {
    background-color: #a3bad2;
    border-color: #436280;
    color: #112236;
    transition: 0.5s;
}

.ng-scope {
    background-color: #dbe4ed;
}

#flags > div > a > img {
    height: 80px;
    width: 140px;
    margin-left: -30%;
    padding-right: 10%;
    padding-bottom: 15%;
}

#flags > div {
    padding-left: 0;
    padding-right: 0;
}

#output_result {
    background-color: #ffffff;
}

#form {
    padding-left: 30%;
    padding-right: 20%;
    margin-left: 0;
}
#form > div {
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
}