<form class="form-horizontal col-sm-offset-2" role="form" id="form" ng-controller="appCntrl">

    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="input_number" placeholder="Enter number" ng-model="number">
        </div>
    </div>

    <div id="flags">
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='bg'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/bg.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='cs'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/cz.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='de'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/de.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='dk'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/dk.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='en_GB'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/gb.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='es'; sendRequest();"><img src="//flags.fmcdn.net/data/flags/normal/es.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='et'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/ee.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='fr'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/fr.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='he'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/il.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='ru'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/ru.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='lv'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/lv.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='lt'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/lt.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='id'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/id.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='it_IT'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/it.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='nl'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/nl.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='pl'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/pl.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='pt_BR'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/br.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='ro_RO'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/ro.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='sv'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/se.png" ></a><br>
        </div>
        <div class="col-md-3">
            <a href="#" ng-click="selectedLocale.value='tr_TR'; sendRequest();"><img src="http://flags.fmcdn.net/data/flags/normal/tr.png" ></a><br>
        </div>
    </div>

</form>